yfinance
pandas
matplotlib
tradingview_screener
pytz
google-generativeai
fear-and-greed-index
humanize
nltk
beautifulsoup4
requests
fpdf
reportlab
py_vollib_vectorized
PyPortfolioOpt
seaborn
SpeechRecognition
gTTS
playsound
pyaudio
scipy
pyttsx3
configparser